    <form>
      <div class="form-row" style="height: 60px;">
        <div class="form-group col-md-6">
          <label for="inputAddress">Upload file</label>
          <input type="file"
                (change)="handleFileInput($event.target.files)"
                 class="custom-file-input"
                 id="customFile">
          <label class="custom-file-label"
                 for="customFile">{{ filename }}</label>
        </div>
        <div class="form-group col-md-6">
          <button (click)="uploadFile()" class="btn btn-primary">Upload file</button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState">Currency</label>
          <select id="currency"
                  name="currency"
                  (change)="onCurrencyChange()"
                  [(ngModel)]="paymentModel.currency"
                  class="form-control">
            <option value="" selected>Choose...</option>
            <option *ngFor="let item of currencyCode" [value]="item" [label]="item"></option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="example-date-input">Date Start</label>
            <input class="form-control"
                   type="date"
                   value="2011-08-19"
                   id="example-date-input">
        </div>
        <div class="form-group col-md-2">
          <label for="example-date-input">Date End</label>
          <input class="form-control"
                 type="date"
                 value="2011-08-19"
                 id="example-date-input">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Status</label>
          <select id="statusCode"
                  name="statusCode"
                  (change)="onStatusChange()"
                  [(ngModel)]="paymentModel.statusCode"
                  class="form-control">
            <option value="" selected>Choose...</option>
            <option>A</option>
            <option>R</option>
            <option>D</option>
          </select>
        </div>
      </div>
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Payment</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of payments">
          <td>{{item.transactionId}}</td>
          <td>{{item.payment}}</td>
          <td>{{item.statusCode}}</td>
        </tr>
      </tbody>
    </table>
